@charset "UTF-8";

.btn-icon {
    position: relative;
    padding: 1rem 2.5rem 1rem 1.5rem;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    background-color: #0bd;
}

.btn-icon::after {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    right: 16px;
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    rotate: 45deg;
    transition: .5s;
}

.btn-icon::after {
    right: 10px;
}

.btn-change {
    width: 180px;
    position: relative;
    padding: 1rem 1.5rem;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    background-color: #05d;
}

.btn-change::after {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    right: 16px;
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    rotate: 45deg;
    transition: .5s;
}

.btn-change.done::after {
    top: calc(50% - 6px);
    width: 12px;
    height: 6px;
    rotate: 125deg;
}