button {
  display: block;
  margin-bottom: 1rem;
}

.btn-shine {
  position: relative;
  padding: 1rem 1.5rem;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  color: #fff;
  background-color: #0bd;
  overflow: hidden;
}
.btn-shine::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
}
.btn-shine:hover::before {
  translate: 300% 0;
  transition: .5s;
}

.btn-sparkle {
  position: relative;
  padding: 1rem 1.5rem;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  color: #fff;
  background-color: #05b;
  overflow: hidden;
}

.btn-sparkle .sparkle {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgba(255,255,255,.5);
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  animation: sparkle-animation 2s infinite;
  pointer-events: none;
}

@keyframes sparkle-animation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}