@charset "UTF-8";

.btn-container-adv {
    position: relative;
    max-width: 320px;
}

.btn-inner-adv {
    width: 100%;
    padding: 1.5rem;
    border-radius: 12px;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
}

.btn-svg-adv {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    pointer-events: none;
    z-index: 1;
}

.btn-rect-adv {
    fill: none;
    stroke: #0bd;
    stroke-width: 6px;
    stroke-dasharray: 400%;
    stroke-dashoffset: 400%;
}

.btn-rect-adv.active {
    animation: line 1s forwards;
}

@keyframes line {
    to {
        stroke-dashoffset: 0;
    }
}